$darkblue-color:    #2e7bab;
$darkblue-color2:   #3c83b0;
$white-color:       #fff;
$black-color:       #000;
$yellow-color:      #ffb800;
$brown-color:       #594625;
$blue-color:        #148fbc;
$light-grey-color:  #eae9e7;
$grey-color:        #a79e96;
$dirt-white:        rgba(245,245,245,0.6);
$almost-transparent:rgba(245,245,245,0.2);
$dirt-white-th:     rgba(250,250,250,1);

$dirt-white-shadow          : rgba(255,255,255,.6) 0 .3em .3em;
$button-carousel-shadow     : 0 0 0 0.2rem rgba(255,193,7,.5);
$carousel-text-shadow       : 1px 1px 2px #357eac, 0 0 1em #2a5e7c;

$brown-opacity-color            :rgba(139, 118, 101, 0.7);
$button-shadow                  :inset rgba(0,0,0,.6) 0 0px 1px, inset rgba(252,255,255,.7) 0 1px 1px, rgba(0,0,0,.8) 0 1px 1px -1px;
$button-linear-gradient         : linear-gradient(#fdba0a, #e6aa09) #e6aa09;
$button-linear-gradient-hover   : linear-gradient(#f7cd63, #e2b22d) #e2b22d;
$button-linear-gradient-w       : linear-gradient(#ffffff, #ededec) #ededec;
$button-linear-gradient-w-hover : linear-gradient(#c0d6f3, #567eeb) #567eeb;
$button-carousel-linear-gradient: linear-gradient(#357eac, #2a5e7c) #2a5e7c;