/******* proposal START ************/
#proposal{
    background-image: url(../img/bg/alpha-bg.jpg);
  
    h2{
        color:$darkblue-color2;
        padding-bottom: 15px;
    }

    img{
        width: 80%;
        padding-left: 30px;
    }
}
/******* proposal END ************/