/******** variants-ceiing START ************/
#variants-ceiling{
  background-image: url(../img/bg/variants-bg.jpg);
  background-size: cover;
  font-size:    $font-size-1d1;  

  h1{
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .container-fluid{ padding: 20px 0; }

  /*---------------------------------
          card-item 
  -----------------------------------*/
  .card-item {
    background-image: url(../img/bg/card-bg.jpg);
    margin-bottom: 30px;
    border-radius: 1px;
    border: 1px solid $white-color;
    background-size: auto 100%;
    width: 100%;
    margin: 15px auto;
    
    h4{
      padding: 20px 0 10px 30px;
      color: $darkblue-color;
    }

    .card-item-img{
      height: 150px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }

    .card-item-details{
      padding: 20px 0 20px 20px;
      height: 100px;
    }

    .card-item-button{
      text-align: center;
      padding: 10px 0 30px 0;
    }
  }
}
/******** variants-ceiing END ************/