/********* variants START **************/
#variants{
    background-image: url(../img/bg/brown-bg.png);
    background-size: contain;
    color: $white-color;

    button{ margin: 40px auto; }
}
/********* variants END **************/